<app-header></app-header>
<div class="container w-50 mt-5 mb-5 mx-auto">
  <h2 class="text-center">Request Claim</h2>
  <pre></pre>
  <form [formGroup]="claimForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="policyId">Policy Id</label>
      <input type="number" class="form-control" id="policyId" formControlName="policyId">
      <span *ngIf="claimForm.get('policyId').touched">
        <p class="text-danger" *ngIf="claimForm.get('policyId').hasError('required')">Policy Id is required</p>
        <p class="text-danger" *ngIf="claimForm.get('policyId').hasError('min')">Policy Id should be a positive number
        </p>
        <p class="text-danger" *ngIf="claimForm.get('policyId').hasError('max')">Policy Id should be less than 9999</p>
      </span>
    </div>

    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" class="form-control" id="userName" formControlName="userName" autocomplete="auto complete">
      <span *ngIf="claimForm.get('userName').touched">
        <p class="text-danger" *ngIf="claimForm.get('userName').hasError('required')">username is required</p>
      </span>
    </div>

    <div class="form-group">
      <label for="subscriptionId">Subscription Id</label>
      <input type="number" class="form-control" id="subscriptionId" formControlName="subscriptionId">
      <span *ngIf="claimForm.get('subscriptionId').touched">
        <p class="text-danger" *ngIf="claimForm.get('subscriptionId').hasError('required')">Subscription Id is required</p>
        <p class="text-danger" *ngIf="claimForm.get('subscriptionId').hasError('min')">Subscription Id should be a positive number</p>
        <p class="text-danger" *ngIf="claimForm.get('subscriptionId').hasError('max')">Subscription Id should be less than 9999</p>
      </span>
    </div>

    <div class="form-group">
      <label for="claimTypeId">Claim Type</label>
      <select class="form-control" id="claimTypeId" formControlName="claimTypeId">
        <option *ngFor="let type of types" [value]="type.claimTypesId">{{type.type}}</option>
      </select>
      <span *ngIf="claimForm.get('claimTypeId').touched">
        <p class="text-danger" *ngIf="claimForm.get('claimTypeId').hasError('required')">Claim Type is required</p>
      </span>
    </div>

    <div class="form-group">
      <label for="claimSummary">Claim Summary</label>
      <input type="text" class="form-control" id="claimSummary" formControlName="claimSummary">
      <span *ngIf="claimForm.get('claimSummary').touched">
        <p class="text-danger" *ngIf="claimForm.get('claimSummary').hasError('required')">Claim Summary is required</p>
      </span>
    </div>

    <div class="form-group">
      <label for="claimDetails">Claim Details</label>
      <input type="text" class="form-control" id="claimDetails" formControlName="claimDetails">
      <span *ngIf="claimForm.get('claimDetails').touched">
        <p class="text-danger" *ngIf="claimForm.get('claimDetails').hasError('required')">Claim Details is required
        </p>
      </span>
    </div>

    <div class="form-group">
      <label for="claimantFullName">Claimant Full Name</label>
      <input type="text" class="form-control" id="claimantFullName" formControlName="claimantFullName">
      <span *ngIf="claimForm.get('claimantFullName').touched">
        <p class="text-danger" *ngIf="claimForm.get('claimantFullName').hasError('required')">For Death claim claimant Full name is required</p>
        <p class="text-danger" *ngIf="claimForm.get('claimantFullName').hasError('pattern')">Full name should contain only alphabets and space</p>
      </span>
    </div>

    <div class="form-group">
      <label for="claimantDateOfBirth">Claimant Date of Birth</label>
      <input type="date" class="form-control" onkeydown="return false" id="claimantDateOfBirth" formControlName="claimantDateOfBirth"
        max="{{ eighteenYearsAgo | date:'yyyy-MM-dd'}}">
      <span *ngIf="claimForm.get('claimantDateOfBirth').touched">
        <p class="text-danger" *ngIf="claimForm.get('claimantDateOfBirth').hasError('maxdatevalidator')">claimant Date
          Of Birth should be more than 18 y ago</p>
        <p class="text-danger" *ngIf="claimForm.get('claimantDateOfBirth').hasError('required')">For Death claim claimant Date of Birth is required</p>
      </span>
    </div>

    <div class="form-group">
      <label for="claimantAddress">Claimant Address</label>
      <input type="text" class="form-control" id="claimantAddress" formControlName="claimantAddress">
      <span *ngIf="claimForm.get('claimantAddress').touched">
        <p class="text-danger" *ngIf="claimForm.get('claimantAddress').hasError('required')">For Death claim claimant Address is required
        </p>
      </span>
    </div>

    <div class="form-group">
      <label for="claimantIDProofType">Claimant ID Proof Type</label>
      <select type="text" class="form-control" id="claimantIDProofType" formControlName="claimantIDProofType">
        <option value="Passport">Passport</option>
        <option value="Aadhar">Aadhar</option>
        <option value="PAN">PAN</option>
        <option value="DrivingLicence">Driving Licence</option>
      </select>
      <span *ngIf="claimForm.get('claimantIDProofType').touched">
        <p class="text-danger" *ngIf="claimForm.get('claimantIDProofType').hasError('required')">For Death claim claimant ID Proof Type is required</p>
      </span>
    </div>

    <div class="form-group">
      <label for="claimantIDProofNumber">Claimant ID Proof Number</label>
      <input type="text" class="form-control" id="claimantIDProofNumber" formControlName="claimantIDProofNumber">
      <span *ngIf="claimForm.get('claimantIDProofNumber').touched">
        <p class="text-danger" *ngIf="claimForm.get('claimantIDProofNumber').hasError('required')">For Death claim claimant ID Proof Number is required</p>
      </span>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="raisedByPolicyHolder" formControlName="raisedByPolicyHolder">
      <label class="form-check-label" for="raisedByPolicyHolder">Requesting by policy holder</label>
    </div>

    <div *ngIf="result">
      <div class="alert alert-success mt-3">
        {{result}}
      </div>
    </div>

    <div *ngIf="errorMessage">
      <div class="alert alert-danger mt-3">
        {{errorMessage}}
      </div>
    </div>

    <button type="submit" [disabled]="result || claimForm.invalid" class="btn btn-primary">Submit</button>
  </form>
</div>